@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Poppins";
  background-color: #000;
  color: #eee;
}

.content{
 text-shadow: 0 5px 10px #0004;
}